* {
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.svg-div {
  height: 320px;
}

.bg-div {
  height: 100%;
  background-color: hsl(275, 100%, 97%);
  display: flex;
  justify-content: center;
  align-items: end;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
